div[data-layout-hgroup] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div[data-layout-vgroup] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}